{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="forgot_password mt_100 mb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-3 col-lg-4 col-xl-4 d-none d-lg-block wow fadeInLeft">
                    <div class="sign_in_img">
                        <img src="{% static 'assets/images/sign_in_img_3.jpg' %}" alt="Forgot Password" class="img-fluid w-100">
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-7 col-xl-6 col-md-10 wow fadeInRight">
                    <div class="sign_in_form">
                        {% if messages %}
                        <div class="position-fixed top-0 start-50 translate-middle-x mt-5" style="z-index: 1050;">
                            <div>
                                {% for message in messages %}
                                <p class="alert-message {% if 'error' in message.tags %}text-danger
                                                          {% elif 'warning' in message.tags %}text-warning
                                                          {% elif 'success' in message.tags %}text-success
                                                          {% else %}text-secondary{% endif %}
                                                          text-center fw-medium">
                                                    {{ message }}
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        <h3>Forgot Password? 👋</h3>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="single_input">
                                        <label>email</label>
                                        {{form.as_p}}
                                    </div>
                                </div>
                                <div class="col-xl-12 mt_15">
                                    <button type="submit" class="common_btn">Forgot Password <i
                                            class="fas fa-long-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}