{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

    <!--=========================
        PAGE BANNER START
    ==========================-->
    <section class="page_banner" style="background: url(assets/images/page_banner_bg.jpg);">
        <div class="page_banner_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page_banner_text wow fadeInUp">
                            <h1>Posted lodges</h1>
                            <ul>
                                <li><a href="{% url 'ecommerce:home' %}"><i class="fal fa-home-lg"></i> Home</a></li>
                                <li><a href="">My lodges</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=========================
        PAGE BANNER START
    ==========================-->


    <!--============================
        DSHBOARD START
    =============================-->
    <section class="dashboard mb_100">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 wow fadeInRight">
                    <div class="dashboard_content mt_100">
                        <h3 class="dashboard_title">My Lodges</h3>
                        <div class="dashboard_order_table">
                            <div class="table-responsive">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Lodge Name</th>
                                            <th>Date Posted</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    {% for lodge in lodges %}
                                        <tr>
                                            <td>{{lodge.lodge_name}}</td>
                                            <td>{{lodge.posted_on}}</td>
                                            {% if lodge.is_sold %}
                                            <td><span class="active">Sold</span></td>
                                            {% else %}
                                            <td><span class="text-danger">Listing</span></td>
                                            {% endif %}
                                            <td>
                                                <a class="common_btn" href="{% url 'ecommerce:lodge_data' lodge.id %}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                            class="size-6">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                                        </svg>
                                                        View Info
                                                </a>
                                                {% if not lodge.is_sold %}
                                                <input type="hidden" name="delete_id" value="{{lodge.id}}">
                                                <button type="submit" name="delete" class="common_btn remove"><i class="fal fa-trash"></i></button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============================
        DSHBOARD END
    =============================-->

{% endblock %}
</body>
</html>