{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--=============================
        ERROR START
    =============================-->
    <section class="error_page" style="background: url({% static 'assets/images/error_bg.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 m-auto">
                    <div class="error_text wow fadeInUp">
                        <h2>404</h2>
                        <h4>Page Not Found</h4>
                        <a class="common_btn" href="{% url 'ecommerce:home' %}">go back home <i class="fas fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=============================
        ERROR END
    =============================-->


    <!--==========================
        SCROLL BUTTON START
    ===========================-->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!--==========================
        SCROLL BUTTON END
    ===========================-->
{% endblock %}