{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <!--=========================
        PAGE BANNER START
    ==========================-->
    <section class="page_banner" style="background: url(assets/images/page_banner_bg.jpg);">
        <div class="page_banner_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page_banner_text wow fadeInUp">
                            <h1>Terms and condition</h1>
                            <ul>
                                <li><a href="{% url 'ecommerce:home' %}"><i class="fal fa-home-lg"></i> Home</a></li>
                                <li><a href="{% url 'ecommerce:terms' %}">Terms and condition</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=========================
        PAGE BANNER START
    ==========================-->


    <!--=============================
        TERMS AND CONDITION START
    ==============================-->
    <section class="terms_condition mt_55 mb_100">
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-12">
                    <div class="privacy_policy_text">
                        <h3>Who we are</h3>
                        <p>When visitors make payments on the site we collect the data and
                            also the visitor’s IP address and browser user agent string to help spam
                            detection. An anonymized string created from your email address (also called a hash) may be
                            provided to the Gravatar service to see if you are using it. The Gravatar service
                            privacy policy is available here. created from your email address (also called a hash) may.
                        </p>

                        <h3>Media</h3>
                        <p>If you leave a comment on our site you may opt-in to saving your name, email address and
                            website in cookies. These are for your convenience so that you do not have to fill in your
                            details again when you leave another comment. These cookies will last for one year. If you
                            visit our login page, we will set a temporary cookie to determine if your brow ser accepts
                            cookies. This cookie contains no personal data and is discarded when you close your browser.
                            When you log in, we will also set up several cookies to save your login information and your
                            screen display choices. Login cookies last for two days, and screen options cookies last for
                            a year</p>
                        <ul>
                            <li>Visitors to the website can download and extract any location data</li>
                            <li>When visitors make payments on the site we collect the data</li>
                            <li>These are for your convenience so that you do not have to fill in
                                your details again</li>
                        </ul>
                        <p>When visitors leave comments on the site we collect the data shown in the comments form, and
                            also the visitor’s IP address and browser user agent string to help spam detection. An
                            anonymized string created from your email address (also called a hash) may be provided to
                            the Gravatar service to see if you are using it.
                        </p>
                        <h3>Cookies</h3>
                        <p>If you make payments on our site you do not have to fill in your
                            details again when you leave another comment. These cookies will last for one year. If you
                            visit our login page, we will set a temporary cookie to determine if your brow ser accepts
                            cookies. This cookie contains no personal data and is discarded when you close your browser.
                            When you log in, we will also set up several cookies to save your login information and your
                            screen display choices. Login cookies last for two days, and screen options cookies last for
                            a year.</p>
                        <h3>How long we retain your data</h3>
                        <p>If you leave a comment, the comment and its metadata are retained indefinitely. This is so we
                            can recognize and approve any follow-up comments automatically instead
                            of holding them in a moderation queue. For users that register on our website (if any), we
                            also store the personal information they provide in their user profile. All users can
                            see, edit, or delete their personal information at any time (except they cannot change their
                            username). Website administrators can also see and edit that information.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=============================
        TERMS AND CONDITION END
    ==============================-->

{% endblock %}
</body>
</html>